.signup-page{
    margin-top: 5rem;
    min-height: 45vh;
}
.signup-page img{
    width: 20rem;
    padding: 0 2rem;
}
.signup-form legend{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}
.signup-form label{
    font-size: 1.2rem;
    font-weight: 400;
}
.signup-form input{
    width: 23rem;
    padding: 0.6rem;
}
.signup-form .name{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}
.signup-form .signup-btn{
    background-color: rgba(255, 68, 0, 0.8);
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.or-text{
    color: rgba(0, 0, 0, 0.3);
}
.signup-form .signup-btn:hover{
    transition: .2s ease-in;
    background-color: orangered;
    color: white;
}
.google-signup-btn{
    font-size: 0.8rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    border:0.01rem solid gray;
}
.signup-form .terms-text{
    font-size: 0.8rem;
    color: rgb(24, 165, 130);;
}
.signup-form .terms-text:hover{
    color:navy;
    cursor: pointer;
    text-decoration: underline;
}
.currency-text{
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
}
.error-message-div{
    width: 23rem;
    background-color:rgb(204,68,85);
    color:white;
    padding: 0.5rem;
}

@media screen and (max-width:576px){ 
    .signup-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .signup-form legend{
        text-align: center;
    }
    .signup-page-logo{
        display: none;
    }
    .signup-form input{
        width: 15rem;
    }
    .error-message-div{
        width: 15rem;
    }
    .signup-form .signup-btn{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .signup-form .button-div{
        flex-direction: column;
    }
    .signup-form .terms-div{
        text-align: center;
    }
}