.dropdown-menu li{
    cursor: pointer;
}
.left-component img{
    width: 1.5rem;
    margin-right: 0.5rem;
}
.left-component *{
    color: gray;
    font-size: 0.9rem;
}
.left-component i{
    margin-right: 0.5rem;
}
.left-component .list-header{
    background-color: rgba(0, 0, 0, 0.04);
    padding: 0.2rem;
    margin-bottom: 0.1rem;
}
.left-component .list-header *{
    color: rgba(0, 0, 0, 0.2);
}


.middle-component{
    min-height: 95vh;
    box-shadow: 0 0 0.5rem gray;
    position: relative;
}
.middle-component .header{
    background-color: rgb(238,238,238);
}
.middle-component .header img{
    width: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.middle-component .month p{
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
}
.add-expense-container{
    background-color: white;
    box-shadow: 0 0 1rem gray;
    width: 20rem;
}
.add-expense-container .header{
    background-color: rgb(72,190,157);
    color: white;
}
.add-expense-container form input{
    width: 15rem;
    margin: 1rem 0;
}
.btn-expense{
    background-color: rgba(255, 68, 0, 0.8);
    color: white;
}
.text-green-light{
    color: rgb(72,190,157);
}
.bg-green-light{
    background-color: rgb(91,191,167);   
}
.btn-settle{
    background-color: rgb(91,191,167);
    color: white;
}
.btn-expense:hover{
    background-color: orangered;
    color: white;
}
.btn-settle:hover{
    background-color: rgb(72,190,157);
    color: white;
}
.expense-list p{
    margin: 0;
}
.expense-list .top-text{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);
}
.expense-list .bottom-text{
    font-size: 1rem;
    font-weight: bold;
}
.expense-list .fa-xmark:hover{
    cursor: pointer;
}
.expense-list:hover{
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.1);
}
.notebook-img{
    width: 3rem;
}
.add-expense-div{
    position: absolute;
    left: 20%;
    z-index: 1;
}
.add-expense-error-div{
    background-color: brown;
    color: white;
}
.add-expense-div .save-btn:hover{
    background-color: rgb(72,190,157);
}
.add-expense-div input{
    padding: 0.5rem;
}
.friend-list{
    cursor: pointer;
}
.friend-list:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.addToggleBox:hover{
    cursor: pointer;
}