.user-navbar{
    background-color: rgb(91,191,167);
}
.nav-logo img{
    width: 1.5rem;
    margin-right: 0.5rem;
}
.nav-logo span{
    font-weight: bold;
}
.user-profile-logo{
    width: 1.5rem;
    border-radius: 50%;
}
.dropdown-menu li:hover{
    background-color: rgba(0, 0, 0, 0.101);
}