.hero{
    background-image: url(https://assets.splitwise.com/assets/core/facets.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.description-div{
    width: 20rem;
}
p{
    font-size: 1.1rem;
}
.row-1-hero .text-div{
    padding: 5rem 3rem 3rem 3rem;
    width: 30rem;
}
.row-1-hero .img-div{
    padding: 2rem;
}
.text-div .fa-solid{
    margin: 1.5rem 0;
    font-size: 3rem;
    padding-right: 1.5rem;
}
.text-div button{
    border: none;
    background-color: rgb(28, 194, 159);
    color: white;
    border-radius: 0.3rem;
    padding: 0.8rem 3.5rem;
    margin-bottom: 2rem;
}
.text-div .app-store-desc{
    font-size: 0.9rem;
}
.row-4-hero img{
    padding-top: 10rem;
}
.row-4-hero div{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-4-hero p{
    text-align: center;
    width: 24rem;
}
.row-4-hero button{
    background-color: transparent;
    color: white;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    border: 0.1rem solid white;
    cursor: pointer;
}
.feature-header{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.feature-text  p{
    font-size: 1.3rem;
}
.text-purple{
    color: purple;
}
.card{
    width: 30rem;
    margin: 1rem;
}
.card .title{
    font-size: 1.2rem;
}
@media screen and (max-width:768px) {
    .row-1-hero{
        flex-direction: column;
        align-items: center;
    }
    .row-4-hero div{
        padding-top: 2rem;
    }
    .row-4-hero img{
        padding-top:2rem;
    }
    .row-4-hero{
        flex-direction: column;
        align-items: center;
    }
    .review-card{
        margin: 0rem;
    }
    .card{
        width: 18rem;
    }
}
@media screen and (max-width:450px) {
    .row-1-hero .text-div{
        width: 20rem;
        padding: 4rem 2rem 2rem 2rem;
    }
    .text-div .fa-solid{
        margin: 1rem 0;
        font-size: 1rem;
        padding-right: 1rem;
    }
    .text-div button{
        padding: 0.5rem 2rem;
    }
    .row-1-hero img{
        width: 10rem;
    }
    .row-4-hero p{
        width: 18rem;
    }
    .card .title{
        font-size: 1rem;
    }
}