.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-div span{
    font-weight: bold;
}
.logo{
    height: 3rem;
}
.nav-menu-div button{
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}
.login-btn{
    background-color: white;
    color: rgb(28, 194, 159);
}
.signup-btn{
    background-color: rgb(28, 194, 159);
    color: white;
}
a{
    color: inherit;
    text-decoration: none;
}