footer p{
    margin: 0;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.header-1{
    color: rgb(28, 194, 159);
}
.header-2{
    color: orangered;
}
.header-3{
    font-weight: bold;
}
.footer-section-1, .footer-section-2{
    border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
}
footer i{
    font-size: 1.5rem;
    padding: 0.8rem 0.8rem 0.8rem 0;
}
.app-store-div{
    background-color: black;
    border-radius: 0.3rem;
    width: 11rem;
    margin: 1rem;
    padding: 0 0.5rem;
}
.app-store-div *{
    color: white;
}

@media screen and (max-width:768px) {
    .footer-section{
        flex-direction: column;
        align-items: center;
    }
    footer i{
        font-size: 1rem;
    }
    .app-store-div{
        width: 9rem;
    }
    .app-store-div p{
        font-size: 0.7rem;
    }
}
@media screen and (max-width:450px) {
    footer p{
        font-size: 0.6rem;
    }
    footer i{
        font-size: 0.8rem;
        padding: 0.1rem;
    }
    .app-store-div{
        width: 6rem;
        padding: 0.2rem 0.3rem;
    }
    .app-store-div p{
        font-size: 0.5rem;
    }
}