.login-form{
    padding: 3rem;
    margin: 3rem 0 1rem 0;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem gray;
}
.login-form legend{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}
.login-form label{
    color:rgba(0, 0, 0, 0.581);
}
.login-form .login-btn{
    background-color: rgb(24, 165, 130);
    color: white;
}
.login-form .login-btn:hover{
    background-color: rgb(24, 165, 130);
    color: white;
}
.forgot-password{
    color: rgb(24, 165, 130);
    cursor: pointer;
}
.sign-google-btn{
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.sign-google-btn:hover{
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.error-message{
    background-color: rgb(204,68,85);
    color: white;
}
.error-message p{
    padding: 0.5rem;
}